[Unit]
Description=Table View
After=mysql.service

[Service]
User=tableview
Group=tableview
Type=simple
ExecStart=/usr/local/bin/tableview

[Install]
WantedBy=multi-user.target
